<div class="containerToolBar">
    <app-tool-bar></app-tool-bar>
</div>
<div class="containerTable">
    <app-table-benefits></app-table-benefits>
    <button id="buttoGetCard">link your card <span class="rightArrow material-symbols-outlined">
        chevron_right
        </span></button>
</div>

<div class="containerDataPromotion">
  <app-categories></app-categories>
</div>

<div class="containerPlusBenefits">
  <app-card-benefits></app-card-benefits>
<button id="buttoGetCard2">link your card <span class="rightArrow material-symbols-outlined">
  chevron_right
  </span></button>
</div>


<div class="containerFooter">
  <app-footer-page></app-footer-page>
</div>