<div class="containerTitleTable">
    <h1 class="tittleTable">Link your <span class="separateText">business card </span>
        <br> <label class="textDownCenter" for="">to <span class="textDescription"> unlock cashback </span>
            offers</label>
    </h1>
    <table class="unfixed-table">
        <thead>
            <tr>
                <th></th>
                <th id="headerTable">No card linking required</th>
                <th id="headerTable">Link your card to get</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th id="textLeft">Instant Coupons</th>
                <th><div id="circleThickCenter"><div id="checkIcon"></div></div></th>
                <th><div id="circleThickCenter"><div id="checkIcon"></div></div></th>
            </tr>
            <tr>
                <th id="textLeft">Full access to Visa Savings Edge benefits</th>
                <th></th>
                <th><div id="circleThickCenter"><div id="checkIcon"></div></div></th>
            </tr>
            <tr>
                <th id="textLeft">Cashback tracking</th>
                <th></th>
                <th><div id="circleThick"><div id="checkIcon"></div></div></th>
            </tr>
            <tr>
                <th id="textLeft">Merchant location search</th>
                <th></th>
                <th><div id="circleThick"><div id="checkIcon"></div></div></th>
            </tr>
            <tr>
                <th id="textLeft">Cashback offers</th>
                <th></th>
                <th><div id="circleThick"><div id="checkIcon"></div></div></th>
            </tr>
        </tbody>
    </table>

</div>
